<div data-author-id="<%= author.id %>" class="row">
	<div class="col-md-8 col-sm-12"><%= link_to author.fullname, author_path(id: author.id) %></div>
	<div class="col-md-2 col-sm-12"><%= link_to 'Edit', edit_author_path(id: author.id), role: 'button', class: 'btn btn-primary' %></div>
	<div class="col-md-2 col-sm-12"><%= link_to 'Delete', author_path(id: author.id), method: :delete, remote: true, data: { confirm: "Are you sure? You will delete #{author.fullname} pernamently" }, role: 'button', class: 'btn btn-danger' %></div>
</div>
