<div class="row">
	<div class="col-md-8 col-sm-12"><%= link_to author.fullname, author_path(id: author.id) %></div>
	<div class="col-md-2 col-sm-12"><%= link_to 'Edit', edit_author_path(id: author.id), role: 'button', class: 'btn btn-primary' %></div>
	<div class="col-md-2 col-sm-12"><%= link_to 'Delete', author_path(id: author.id), method: :delete, data: { confirm: 'Are you sure?' }, role: 'button', class: 'btn btn-danger' %></div>
</div>
