<h1>All Authors</h1>
<hr/>

<ul>
  <% @authors.each do |author| %>
    <li>
      <%= link_to author.fullname, author_path(id: author.id) %>
      <%= link_to 'Edit', edit_author_path(id: author.id) %>
      <%= link_to 'Destroy', author_path(id: author.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <%end%>
</ul>

<hr/>

<%= link_to 'New author', new_author_path %>
